.mostrar {

    background-color: red;

    height: 2em;
    width: 2em;
}

.perfil {
    display: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 50%;
}