.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 54.7em;
    width: 100vw;

    background-image: url(../../img/poke.jpg);
    background-size: cover;
}

.input {
    padding: 0.5em;
}

