.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: beige;
}

.lado_izq {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    height: auto;
    width: 50%;

    background-color: beige;
}
.lado_der {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 50%;

    background-color: beige;
}

#boton {
    height: 2em;
    width: 3em;

    background-color: green;
}

.card {
    margin: 1em;
}