.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;


    background-color: rgb(108, 163, 242);
}

.lado_izq {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 53em;

border-style: solid;
}
.lado_der {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 53em;

border-style: solid;


}

.arriba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 100%;

    background-color: yellow;
}

.abajo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 100%;

    background-color: pink;
}

#boton {
    height: 2em;
    width: 3em;

    background-color: green;
}

.card {
    margin: 1em;
}